/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
body {
  min-width: inherit;
  background-color: #ffffff;
  background-image:  url(https://www.tegetamotors.ge/Content/uploads/7e60c900_9e95bebf_tgm-foto-1.jpg);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: rgb(255, 255, 255); 
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 180%;
  font-size-adjust: auto;
  text-align: center;
  padding-top: 7%;
  color: white;
  }
p1 {
  position: absolute;
    bottom: 760px;
}
